.Title{
    margin-top: 10%;
    font-size: 72px;
    font-weight: bold;
}
.blue{
    color: rgb(10,132,255);
}
.text-dark:hover{
    color: #292b2c;
    text-decoration: unset;

}
.blue:hover{
    color: rgb(10,132,255);
    text-decoration: unset;

}
.TitleList{
    font-weight: bold;
    font-size: 36px;
    margin-left: 40px;
}
body{
    background-image: url('./asset/bg.jpg');
    background-attachment: fixed;
}
.container{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.content{
    padding: 30px;
    margin-bottom: 50px;
}
.boxOrder{
    font-weight: bold;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.boxtitle{
    font-size: 24px;
}
.titleorderlist{
    margin-bottom: 10px;
}
.boxProduct{
    width: 18rem;
    border-radius: 50px;
    margin: 10px;
    transition: ease-in-out 0.15s;
}
.boxProduct:hover{
    transform: scale(1.02,1.02);
}
.hiddens{
    display: none;
}
.loading{
    width: 200px;
    margin-bottom: 20px;
}
